@import url(https://fonts.googleapis.com/css2?family=Comfortaa&display=swap);

html,
body {
    background-image: url("../img/tech3.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: 'Comfortaa', cursive;
    margin: 0;
    color: white;
    
}

.navContainer {
    width:100%;
    max-width:1024px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:
    30px 200px 80px 50px 20px;
    grid-template-areas: 
    '. . . .'
    '. logo logo .'
    'name name name name'
    'navbar navbar navbar navbar'
    '. . . .'
    ;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
}

.project-container{

        display: grid;
        grid-template-columns:  1fr ;
        margin: 0px;
        justify-items: center;
       
}
.project-container2{

    display: grid;
    grid-template-columns:  1fr ;
    justify-items: center;

}

a.moreProjects {  
    grid-area: more; 
    padding: 10px;
    background: none;
    color:white;
    letter-spacing: 0px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 25px;
    border-color: white;
    border-bottom: 3px solid;
    border-top: 1px solid;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 60px;
    
}
a.moreProjects:hover {
    background-color: white; 
    color: #033c5c;
    border-radius: 25px;
    transition-duration: 0.5s;
    
}
.more-container{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    margin: 0px;
    justify-items: center;
   grid-template-areas: 
   '. more .';
 
  
}

.logo {
    max-width: 235px;
    grid-area: logo;
    align-items: center;
    display: grid;
}
.logo img{
    height: 180px;
    grid-area: icon;
    margin: 0;
}
.name {
    font-size: 50px;
    font-weight: bold;
    grid-area: name;
    margin-top: 30px;
}

.navBar {
    grid-area: navbar;
    justify-self: center;
    text-decoration: none;
   

}
.navBar ul{
    list-style-type: none;
    padding:0;
    text-align: center;

  

}
.navBar li {
    display: inline-block;
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
   
}



.project-box {
    display: grid;
    text-align: center;
    grid-template-rows: 200px 50px 100px;
    grid-template-areas: 
    "thumbnail  "
    "title "
    "button ";
    margin-left: auto;
    margin-right: auto;

}

.aboutMe {
    text-align: center;
  
}
.aboutMe h1{
    font-size: 35px;
    font-weight: 100;
    text-decoration: underline;
}
.aboutMe p {
    font-size: 20px;
    font-weight: bold;
    width: 600px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
   
}

.skills {
    justify-self: center;
    text-decoration: none;
   

}
.skills ul{
    list-style-type: none;
    padding:0;
    text-align: center;
    

  

}
.skills li {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
   
}



.resume{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    
}

a.resumeButton {
    padding: 10px;
    background: none;
    color:white;
    text-decoration: none;
    border-radius: 25px;
    border-bottom: 3px solid;
    border-top: 1px solid;
    border-color: white;
    cursor: pointer;
    text-align: center;
    outline: none;
    
  }
  .resumeButton:hover{
    background-color: white; 
    color: #033c5c;
    font-weight: bold;
    border-radius: 25px;
    transition-duration: 0.5s;
  }

.highlights{
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;  
    text-align: center;

}


.thumbnail{
    width: 300px;
    height: 200px;
    grid-area: thumbnail;
    justify-self: center;
}




.button-container {
    grid-area: button;
    justify-self: center;
    padding-left: 0px;
}
.button-container ul{
    list-style-type: none;
   
    text-align: center;
}
.button-container li {
    display: inline-block;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}


.footerNav ul{
    list-style-type: none;
    text-align: center;
    padding:0;

}
.footerNav li{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
}
.updated {
    width: 100%;
   text-align: center;
   font-size: 10px;
}

.profilePic{
    height: 200px;
    margin-top: 20px;
    margin-bottom: 0px;
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
    grid-area: pic;
   
}

.contact-container{
    display: grid;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 1fr;
    grid-template-areas: 
    '. pic pic .'
    '. form form .'
    ;
}

/*CONTACT FORM */

  .contactform {
    max-width: 500px;
    width:100%;
    color: white;
    align-items: center;
    font-weight: bold;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    grid-area: form;

  }

  .contactform input, select, textarea {
    background-color: white;
    width: 100%;
    padding: 10px;  
    box-sizing: border-box; 
    margin-top: 5px; 
    margin-bottom: 15px; 
  }
  .submitbuttonContainer{
margin-left: auto;
margin-right: auto;
margin-top: 15px;
margin-bottom: 20px;
  }

  .submitbutton {
    padding: 10px;
    background: none;
    color:white;
    letter-spacing: 2px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 25px;
    border-color: white;
    cursor: pointer;
    text-align: center;
    outline: none;
    
  }
  .submitbutton:hover{
    background-color: white; 
    color: #033c5c;
    border-radius: 25px;
    transition-duration: 0.5s;
  }

  .button {
        margin-top: 15px;
        padding: 8px;
        background: none;
        color:white;
        letter-spacing: 2px;
        font-weight: bold;
        font-size: 15px;
        border-radius: 30px;
        border-color: white;
        cursor: pointer;
        width: 50%;
        text-decoration: none;
        text-align: center;
        border-bottom: 1px solid;
  }
  .button:hover {
    background-color: white; 
    font-weight: bold;
    color: #033c5c;
    border-radius: 25px;
    transition-duration: 0.5s;
    
}
  
  
  .Navbutton {   
        padding: 10px;
        background: none;
        color:white;
        letter-spacing: 0px;
        font-weight: bold;
        border-radius: 25px;
        border-color: teal;
        border-bottom: 2px solid;
        cursor: pointer;
        text-decoration: none;
  }
    .Navbutton:hover {
        background-color: white; 
        color: #033c5c;
        border-radius: 25px;
        transition-duration: 0.5s;
        
    }
  


/* DESKTOP */

@media only screen and (min-width: 800px) {
    html,
    body{
        max-width: 1700px;
        width: 100%;
        height: 100%;
        background-image: url("../img/tech3.png");
        background-attachment: fixed;
        background-repeat: no-repeat;
        font-family: 'Comfortaa', cursive;
        color: white;
    }

.navContainer {
    width:100%;
    max-width: 1700px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:
     200px 110px 60px ;
    grid-template-areas: 
    
    '. logo logo .'
    '. name name .'
    'navbar navbar navbar navbar'
    
    ;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
}
.thumbnail{
    width: 400px;
    height: 200px;
    grid-area: thumbnail;
    justify-self: center;
}
.project-container{

        display: grid;
        grid-template-columns:  1fr 1fr 1fr;
        justify-items: center;
  
}
.project-container2{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr ;
    justify-items: center;
    margin-top: 70px;
}
}
/* Mobile */

@media only screen and (max-width: 420px) {
    html,
    body{
        max-width:400px;
        width: 100%;
        height: 100%;
        background-image: url("../img/tech3.png");
        background-attachment: fixed;
        background-repeat: no-repeat;
        font-family: 'Comfortaa', cursive;
        color: white;
    }

.navContainer {
    width:100%;
    max-width: 400px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:
     200px 100px 60px ;
    grid-template-areas: 
    
    '. logo logo .'
    'name name name name'
    'navbar navbar navbar navbar'
    
    ;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
}
.thumbnail{
    width: 300px;
    height: 200px;
    grid-area: thumbnail;
    justify-self: center;
}
.project-container{

        display: grid;
        grid-template-columns:   1fr ;
        justify-items: center;
  
}
.project-container2{
    display: grid;
    grid-template-columns:  1fr  ;
    justify-items: center;
    margin-top: 70px;
}
.aboutMe p {
    font-size: 15px;
    font-weight: bold;
    width: 300px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
   
}
.navBar li {
    display: inline-block;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
   
}

.more-container{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    margin: 0px;
    justify-items: center;
   grid-template-areas: 
   'more more more';
 
  
}
.skills li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
   
}

}