<form name="contact" class="contactform" data-netlify="true" method="POST">

    <label htmlFor="fname">First Name</label>
    <input type="text" id="fname" name="fname" placeholder="Your name.."/>
    
    
    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lname" placeholder="Your last name.."/>
    
    
    <label for="pnumber">Phone Number</label>
    <input type="text" id="pnumber" name="pnumber" placeholder="Your phone number.."/>
    
    
    
    <label for="email">E-mail</label>
    <input type="text" id="email" name="email" placeholder="Your E-mail.."/>
   
    
    <label for="subject">Message Me</label>
    <textarea id="subject" name="subject" placeholder="Write message.." </textarea>
  
    
    <div className="submitbuttonContainer">
        <button className="submitbutton" type="submit">Submit</button>
    </div>
    
        </form>
    